# Maven
backend/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle (if you ever add it)
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Logs
logs/
*.log

# OS junk
.DS_Store
Thumbs.db

# Other
out/
../.env
.env.*


.env
